body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at top, #582F4A 0%, #1A1A2E 95%);
    min-width: 600px;
    min-height: 300px;
}

#ggh_reset_btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    padding: 5px;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
    color: rgba(171, 164, 214, 0.9);
    cursor: pointer;
    transition: color 200ms ease-in-out;
}

#ggh_reset_btn:hover {
    color: rgba(255, 255, 255, 0.95);
}

#ggh_cache_info_container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.95);
    font-size: 1.5rem;
}

#ggh_cache_info {
    font-weight: bold;
}