body, p, a {
    color: #b6b6b6;
}

a:hover {
    color: #e3e3e3;
}

h3 {
    color: #817987;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 20%;
    background: radial-gradient(circle at top, #582F4A 0%, #1A1A2E 45%);
    font-family: "Roboto Light", sans-serif;
    font-size: 1.3rem;
}

#heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0;

    h1,
    h3 {
        margin: 0;
    }

    a:not(:hover) {
        color: inherit;
    }
    a {
        text-decoration: none;
    }
}

main {
    flex: 2;
}

section {
    margin-top: 3rem;
    flex: 1;
}

footer * {
    font-size: 0.8rem;
    text-align: center;
    color: gray;
}

.screenshot {
    max-width: 100%;
}

.no-deco {
    text-decoration: none !important;
}
.underline {
    text-decoration: underline !important;
}