#ggh_historyBtnContainer {

}

#ggh_historyBtn {
    padding: 0.6rem 0.4rem;
    display: flex;

    &:hover {
        cursor: pointer;
    }
}

#ggh_historyIcon {
    height: 1.7rem;
    color: white;
}

